{% extends "SnowTricksHomeBundle::layout.html.twig" %}

{% block body %}

<div class="container" id="two">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="post-title">Supprimer une annonce</h2>
            <p>
                Etes-vous certain de vouloir supprimer la figure "{{ trick.name }}" ?
            </p>

            <form action="{{ path('snow_tricks_home_delete', {'slug': trick.slug}) }}" method="post">
                {{ form_start(form) }}
                <a href="{{ path('snow_tricks_home_view', {'slug': trick.slug}) }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Retour à la figure
                </a>
                {% if form._token is defined  %}
                    {{ form_widget(form._token)}}
                {% endif %}
                <input type="submit" value="Supprimer" class="btn btn-danger"/>  
                {{ form_end(form, {"render_rest": false}) }}
            </form>  
        </div>
    </div>
</div>   
               
{% endblock %}