<div class="well">

  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
 
  {{ form_errors(form) }} 
 
  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.name, "Nom") }}
    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}    
  </div>

  {# Idem pour un autre champ. #}
  <div class="form-group">
    {{ form_label(form.content, "Contenu") }}
    {{ form_errors(form.content) }}
    {{ form_widget(form.content) }}
  </div>

  <div class="form-group">
    {{ form_row(form.category) }}
  </div>

{% block _snowtricks_homebundle_trick_images_entry_widget %}
    <tr>
        <td>{{ form_widget(form.images) }}</td>
    </tr>
    <a href="#" id="add_image" class="btn btn-outline-primary">Ajouter une image</a>
{% endblock %}

  
  <div class="form-group"> 
    {{ form_widget(form.videos) }} 
    <a href="#" id="add_video" class="btn btn-outline-primary">Ajouter une video</a>
  </div> 

  {{ form_rest(form) }}

  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {{ form_end(form) }}

</div>


