
{% extends "SnowTricksHomeBundle::layout.html.twig" %}


{% block title %}
  {{ parent() }}
{% endblock %}

{% block snow_tricks_body %}

  <div>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
      {% endfor %}
  </div>

<h2 class="post-title">Liste des figures</h2>

  <ul>
    {% for trick in listTricks %}
      <li>
        <h3 class="post-subtitle"><a href="{{ path('snow_tricks_home_view', {'id': trick.id}) }}">
          {{ trick.name }} 
          {% if trick.member is not null %} par {{ trick.member.pseudo }} <img src= "{{ trick.member.picture }}" height="40"/> {% else %} vide {% endif %}
        </a></h3>
      </li>
    {% else %}
      <li>Pas (encore !) de figures</li>
    {% endfor %}
    <hr>
  </ul>

  <ul class="pagination">
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('snow_tricks_home_homepage', {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}