{% extends "SnowTricksHomeBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block snow_tricks_body %}

    <div>
        {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('info') %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>

    
    <div class="container text-center" id="two">
        <h1>Les Figures</h1>
            {% for trick in listTricks %}
                <div class="row test">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        {% for image in trick.images|slice(0, 1) %}
                             <a href="{{ path('snow_tricks_home_view', {'slug': trick.slug}) }}#two"> <img src= "{{ asset(image.webPath) }}" height="250", width="250" /> </a>
                        {% else %}
                             <a href="{{ path('snow_tricks_home_view', {'slug': trick.slug}) }}#two"> <img src="{{asset("bootstrap/img/imgsnow.jpg")}}" height="250" width="250"> </a>   
                        {% endfor %}
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-8 list">
                        <h3 class="post-subtitle">
                            <a href="{{ path('snow_tricks_home_view', {'slug': trick.slug}) }}#two">{{ trick.name }}</a>
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('snow_tricks_home_edit', {'slug': trick.slug}) }}#two"><span class="fa fa-pencil-square-o" aria-hidden="true"> Modifier</span></a>
                                <a href="{{ path('snow_tricks_home_delete', {'slug': trick.slug}) }}#two"><span class="fa fa-trash" aria-hidden="true"> Supprimer</span></a>
                            {% endif %}
                        </h3> 
                        </h4>

                    </div>   
                </div>
            {% endfor %}

                <div class="col-lg-8 col-md-10 mx-auto page">
                    <ul class="pagination">
                        {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                        {% for p in range(1, nbPages) %}
                            <li{% if p == page %} class="active"{% endif %}>
                                <a href="{{ path('snow_tricks_home_homepage', {'page': p}) }}#two">{{ p }}</a>
                            </li>
                        {% endfor %}
                    </ul> 
                </div>      
    </div>
   
{% endblock %}

