
{% extends "SnowTricksHomeBundle::layout.html.twig" %}


{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block snow_tricks_body %}

<h2>Liste des annonces</h2>

  <ul>
    {% for trick in listTricks %}
      <li>
        <a href="{{ path('snow_tricks_home_view', {'id': trick.id}) }}">
          {{ trick.name }}
        </a>
      </li>
    {% else %}
      <li>Pas (encore !) de figures</li>
    {% endfor %}
  </ul>

  <ul class="pagination">
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('snow_tricks_home_homepage', {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}