{% extends "SnowTricksHomeBundle::layout.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Se Connecter</h3>

			{% if error %}
				<div class="alert alert-danger">
            	<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

         	{{ form_start(form) }}
                {{ form_row(form._username) }}
                {{ form_row(form._password) }}
                <button type="submit" class="btn btn-success">Se connecter <span class="fa fa-lock"></span></button>
                &nbsp;
                <a href="{{ path('snow_tricks_home_register') }}">S'inscrire</a>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}