{% extends "SnowTricksHomeBundle::layout.html.twig" %}

{% block body %}
<div class="container" id="two">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="post-title">Se Connecter</h2>

			{% if error %}
				<div class="alert alert-danger">
            	<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

         	{{ form_start(form) }}
                {{ form_row(form._username, {
                        'label': 'Identifiant(email)'
                }) }}

                {{ form_row(form._password, {
                        'label': 'Mot de Passe'
                }) }}
                
                <button type="submit" class="btn btn-success">Se connecter <span class="fa fa-lock"></span></button>
                &nbsp;
                <a href="{{ path('snow_tricks_home_request_password') }}">Mot de Passe oublié?</a>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}