{% extends "SnowTricksHomeBundle::layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Inscrivez-Vous!</h1>
                {{ form_start(form) }}
                    {{ form_row(form.pseudo) }}
                    {{ form_row(form.avatar) }} 
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword.first, {
                        'label': 'Mot de Passe'
                    }) }}
                    {{ form_row(form.plainPassword.second, {
                        'label': 'Confirmez Mot de Passe'
                    }) }}
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-primary" formnovalidate>S'inscrire</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
